.result__cards {
  padding: 4rem;
  background: black;
}

.suggestion__card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.match__card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.match__card__items {
  display: flex;
}

.suggestion__card__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.suggestion__card__items {
  width: 100%;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}

.result__cards h1 {
  color: white;
  text-align: center;
}

.btns--viewmore {
  align-content: center;
}